@charset "utf-8";

@font-face {  
	font-family: "Arial";  
	/*src: url('../fonts/GothamRnd-Bold.eot');*/ /* for IE */
	/*src: local('Gotham Round Bold'), url('../fonts/GothamRnd-Bold.woff') format('woff'), url('../fonts/GothamRnd-Bold.ttf') format('truetype'), url('../fonts/GothamRnd-Bold.svg') format('svg');*/
	src: local('Arial'), url('arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

html, body {
	margin:0;
	padding:0;
	background:white;	
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 62.5%;  /* Gives a base of 10px */
	width:1168px;
	/*height:650px; do we need to set this? probably not if page gonna scroll */
	background:url('mainBG.jpg') no-repeat left top;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

a { color:inherit; text-decoration:none; outline:none; /* FF1.5+ IE7+*/ -moz-outline: none /* FF<=1.5*/}
a:hover { text-decoration:underline; }
a img { outline:none; border:0; }

.center {
	margin-left:auto;
	margin-right:auto;	
}

.pointer { cursor:pointer; }

.vmiddle {
	display:table-cell;
	vertical-align:middle;	
}

.wrapper {
	margin: 0 auto;
	padding: 20px; /* set main padding */
	width: auto;
	border: 0px solid red;
	position: relative;
	/*min-height:960px;*/
}

h1 {
	font-size: 3.2em !important;
	font-weight: 700 !important;
	color:black;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {

}

h3{

}

.header {
	margin-bottom: 20px;
}

.content {
	font-size: 1.5em !important;
	font-weight: 400 !important;
}

.justify { 
	text-align: justify; /*1. set container as justify*/
}

.justify * {
	display: inline-block;/*2. set child elements to inline block, input button is alerady inline-block by default */
}

.justify:after {/*3. create 2nd line */
	content: '';
	width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	display: inline-block;
}

.childFloatL * {
	float: left;
	display: inline-block;
	border:1px solid red;
	margin-right: 15px; /* optional */
}